<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Only Subarus</title>
    <link
      rel="shortcut icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon.ico"
    />
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1><img class="logo" src="img/onlysubs.png" alt="onlysubs logo"></h1>
    <div class="signup" >
      <span>
          If you would like to try the app, please login with:
      </span>
      <span>
          email: test@test.com
      </span>
      <span>
          password: password
      </span>
  </div>
    <a class="login" href="/login"> Login</a>
    <a class="login" href="/signup"> Signup</a>
</body>
</html>